 * {
    font-family: 'Inter';
    transition: all 0.1s ease-in-out;
}
*,
 
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    background-color: #fff;
    width: 100%;
     
 }
 h2 {
    font-size: 34px;
    color: #c09c5e;
    align-items: center;
 }
 h4 {
    color: #c09c5e; 
 }
 ul {
    list-style: none;
    color: #fff;
    padding: 0;
 }
 li {
    display: inline-block;
    margin-right: 18px;
 }
  a {
    text-decoration: none;

 }
 .section3 {
    background-color: #f7f3eb;
    margin: 20px;
     
 }
 .section1 {
   background-color: #c09c5e;
    
 }
 .lli {
    color: #fff;
 }
 .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
 }
 .section2 {
    display: flex;
    justify-content: center;
    margin: 25px;
    gap: 25px;
    
 }
 .ngg {
    color: black;
 }
.original_sweeet {
    display: flex;
      justify-content: space-between;
}
.chocolate {
     display: flex;
      justify-content: space-between;
}
.macaron {
       display: flex;
      justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;

}
.about_us {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
   
}
.left {
    margin-left: 84px;
}
.right {
    margin-right: 84px;
}
input {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;

    background: #ffffff;
    color: #c09c5e;

    padding: 10px 25px;
    border-radius: 5px;
}

input::placeholder {
    color: #c09c5e;
}
.main_form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
}
.main-form-row {
    display: flex;
flex-direction: column;
gap: 30px;
} 
.reg {
    text-align: center;
    margin: 35px;
}
button {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    cursor: pointer;
    background: #f7f3eb;
    color: #c09c5e;
    border-radius: 5px;
    padding: 10px 30px;
    
}