 * {
    font-family: 'Inter';
    transition: all 0.1s ease-in-out;
}
*,
 
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    background-color:  #c09c5e; 
    width: 100%;
     
 }
 .tdd {
    text-align: center;
 }
.tablee {
    width: 300px;
    height: 400px;
    border: 1px solid;
    margin-left: 600px;
    margin-top: 100px;
}
